<div class="bar bar-subheader custom-header">

    <div class="row row-center">
      <a class="col text-center" ui-sref="app.home">
        <div class="button button-icon icon" >
          <img src="./img/home.svg">
        </div>
      </a>
      <a class="col text-center" ui-sref="app.organization">
        <div class="button button-icon icon" >
          <img src="./img/organization_active.svg">
        </div>
      </a>
      <a class="col text-center" ui-sref="app.project">
        <div class="button button-icon icon">
          <img src="./img/projects.svg">
        </div>
      </a>
      <a class="col text-center" ui-sref="app.challenges">
        <div class="button button-icon icon" >
          <img src="./img/challenges.svg">
        </div>
      </a>
      <a class="col text-center" ui-sref="app.heroes">
        <div class="button button-icon icon" >
          <img src="./img/heroes.svg">
        </div>
      </a>
    </div>

  </div>