
<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    
        <ion-nav-buttons side="left">
          <span class="left-buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </span>
          <span class="header-title"><b class="mch">MCH </b>&nbsp Projects</span>
        </ion-nav-buttons> 
        <ion-nav-buttons class="c-header" side="right">
          <button class="button button-icon icon"  ng-click="gotoMapsearch('true')">
            <img src="./img/search.svg">
          </button>
          <button class="button button-icon icon" ng-click="vm.scheduleMeeting()">
            <img src="./img/chat-bubble.svg">
          </button>
          <button class="button button-icon icon" ng-click="NOTIFICATIONMODAL()">
            <img src="./img/bell.svg">
          </button>
        </ion-nav-buttons> 
      </ion-nav-bar>

  <!-- sub header start -->
  <div class="bar bar-subheader custom-header">
    
      <div class="row row-center">
          <a class="col text-center decorate-none" ui-sref="app.discover">
            <div class="button button-icon icon" >
              <img src="./img/home.svg">
              <p>Home</p>
            </div>
          </a>
          <a class="col text-center decorate-none" ui-sref="app.organization.suggested">
            <div class="button button-icon icon" >
              <img src="./img/organization.svg">
              <p>Organizations</p>
            </div>
          </a>
          <a class="col text-center decorate-none" ui-sref="app.project.suggested">
            <div class="button button-icon icon">
              <img src="./img/projects_active.svg">
              <p>Projects</p>
            </div>
          </a>
          <a class="col text-center decorate-none" ui-sref="app.challenges.suggested">
            <div class="button button-icon icon" >
              <img src="./img/challenges.svg">
              <p>Challenges</p>
            </div>
          </a>
          <a class="col text-center decorate-none" ui-sref="app.heroes.past">
            <div class="button button-icon icon" >
              <img src="./img/heroes.svg">
              <p>Heroes</p>
            </div>
          </a>
        </div>

  </div>
  <!-- sub header end -->
   <!-- tab start -->
   <ion-tabs class="tabs-icon-top tabs-color-active-positive sec-tab">

    <ion-tab title="Current" href="#/app/project/current">
      <ion-nav-view class="tab-container" name="tab-project-current">

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Suggested" href="#/app/project/suggested">
      <ion-nav-view class="tab-container" name="tab-project-suggested">

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Past" href="#/app/project/past">
      <ion-nav-view class="tab-container" name="tab-project-past">

      </ion-nav-view>
    </ion-tab>

  </ion-tabs>
  <!-- tab end -->

  <ion-content>
 

    <!-- <a class="float-btn button button-icon icon ion-settings"></a> -->
  </ion-content>
  <!-- floating button start -->
  <!-- <button class="button button-positive">
    button-positive
  </button>   -->
  <div class="float-btn">
    <a class="button button-icon icon ion-plus" ng-click="gotoCreate()"></a>
  </div>

  <!-- floating button end -->
</ion-view>

<!-- guest user restrict start -->
<script id="templates/guestuser.html" type="text/ng-template">
</script>
<!-- guest user restrict end -->
